name: Build packages

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - develop

jobs:
  publish-packages:

    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        dotnet-quality: 'ga'
        
    - name: Workload restore
      shell: pwsh
      run: dotnet workload restore 

    - name: build packages
      shell: pwsh
      env:
        NugetVersion: '0.0.1'
      run: ./build-packages.ps1
