name: Publish Nuget package

on:
  release:
    types: [published]

jobs:
  publish-packages:

    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
        
    - name: Download ios sdk
      shell: pwsh
      run: ./download-ios-sdk.ps1
        
    - name: Workload restore
      shell: pwsh
      run: dotnet workload restore 

    - name: build packages
      shell: pwsh
      env:
        NugetVersion: ${{ github.event.release.tag_name }}
      run: ./build-packages.ps1

    - name: publish packages
      shell: pwsh
      env:
        NugetApiKey: ${{ secrets.G1_NUGET_API_KEY }}
      run: ./publish-nuget.ps1
